.Rhistory
__pycache__
*.ckpt
*.pt
.idea/
*.iml
/venv
main
Data/X_train_combined.csv
Data/X_test_combined.csv
Data/X_val_combined.csv
Data/Data.zip
Models/BERT.zip
Data/X_test_combined.csv
Data/X_train_combined.csv
Data/X_val_combined.csv
Models/bert_model/model.safetensors
